<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="za.co.proteacoin.procurementandroid"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!--Set permissions-->
    <!-- Write to SD Card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- GCM connects to Internet Services. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Phone calls. -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="za.co.proteacoin.procurementandroid.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="za.co.proteacoin.procurementandroid.permission.C2D_MESSAGE"/>
    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- Creates a custom permission so only this app can receive its messages. -->

    <application
        android:allowBackup="false"
        android:name=".GlobalState"
        android:icon="@drawable/logoicon"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme">
        <activity
            android:name=".Procurement"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowGrid_Activity"
            android:label="@string/app_name">
            <!--android:screenOrientation="portrait">-->
            <intent-filter>
                <action android:name="android.intent.action.ShowGrid_Activity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowDetail_Activity"
            android:label="@string/app_name">
            <!--android:screenOrientation="portrait">-->
            <intent-filter>
                <action android:name="android.intent.action.ShowDetail_Activity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowRequisitionLines_Activity"
            android:label="@string/app_name">
            <!--android:screenOrientation="portrait"-->
            <intent-filter>
                <action android:name="android.intent.action.ShowRequisitionLines_Activity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowAttachedDocuments_Activity"
            android:label="@string/app_name">
            <!--android:screenOrientation="portrait"-->
            <intent-filter>
                <action android:name="android.intent.action.ShowAttachedDocuments_Activity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CompanyInit_Activity"
            android:launchMode="singleTop"
            android:label="@string/app_name">
            <!--android:screenOrientation="portrait"-->
            <intent-filter>
                <action android:name="android.intent.action.CompanyInit_Activity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayRemoteFile"
            android:label="@string/app_name">
            <!--android:screenOrientation="portrait"-->
            <intent-filter>
                <action android:name="android.intent.action.DisplayRemoteFile"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="za.co.proteacoin.procurementandroid.Procurement" />
            </intent-filter>
        </receiver>
        <service android:name=".GCMIntentService" />
    </application>
</manifest>
